.employee-dashboard-window {
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.employee-dashboard-toolbar {
    align-self: center;
    width: 45vw;
    display: flex;
    flex-direction: column;
}

.toolbar-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.employee-dashboard-toolbar > h1 {
    text-align: center;
}

.employee-dashboard-calendar {
    width: 30vw;
    height: fit-content;
    
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-container {
    width: 30vw;
}

.right-container {
    width: 30vw;
}

.selected-workday {
    border: 2px solid #000000 !important; 
    border-radius:4px;
  }

.custom-availability-event {
    cursor: pointer;
  }

.fc-col-header-cell-cushion {
    text-decoration: none;
}

/* Today Highlight */
.fc-day-today {
  background-color: #f1f3f4 !important;
  border: 1px solid #dadce0;
}

.fc-daygrid-day.fc-day-selected {
  background-color: #e8f0fe;
  border: 2px solid #4285f4;
}



/* Event Backgrounds */
.fc-event.fc-event-background {
  background-color: rgba(66, 133, 244, 0.2) !important;
  border: none !important;
}

.custom-shift-event {
  cursor: pointer;
}

/* Center the day numbers */
.fc-daygrid-day-number {
  text-align: center; /* Centers the number horizontally */
  justify-content: center; /* Aligns in flexbox context */
  display: flex; /* Allows justification */
  align-items: center; /* Centers vertically */
  text-decoration: none; /* Removes underline */
}

.fc-daygrid-day {
  padding: 5px;
}

.fc-daygrid-day-top {
  justify-content: center;
}

.fc-daygrid-dot-event {
    justify-content: center;
}

/* Modal Styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  width: 400px;
  max-width: 80%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.modal-button {
  margin: 0 8px;
}
