.dashboard-window {
    margin-left: 10vw;
    margin-right: 10vw;
}

.dashboard-toolbar {
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-align: center;
}

.dashboard-calendar {
    margin-left: 8vw;
    margin-right: 8vw;
}