.custom-assignment-event {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.assign-containers {
  display: flex;
  justify-content: space-evenly;
}

.right-container {
  width: 35vw;
}